.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 35px;
}

.slider:before {
  position: absolute;
  content: " ";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .5;
  transition: .5s;
  border-radius: 35px;
}

input:checked + .slider.light {
  background-color: #20f320;
}

input:focus + .slider.light {
  box-shadow: 0 0 1px #20f320;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.light {
  background-color: #ccc;
}	

.lock {
  background-color: #20f320;
}

input:focus + .slider.lock {
  box-shadow: 0 0 1px #ff0000;
}

input:checked + .slider.lock {
  background-color: #ff0000;
}

.col {
  text-align: center;
}