h1
{
    text-align: center;
}

h1:hover
{
    color: blue;
    animation-duration: 90s;
    animation-name: grow;
}


@keyframes grow
{
    1%
    {
        transform: matrix(1.25, 0, 0, 1.25, 12, 0);
    }
	100%
    {
		transform: matrix(1.25, 0, 0, 1.25, 12, 0);
    }
}
